<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<title>tg-to-org</title>
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">

{% block content %}
    {% for author in items %}
        <h1 align="center"><a href="channel/{{ author }}">{{ authors[author] }}</a></h1>
        {% for post in items[author] %}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                         <div class="post">
                             {% if post[0].message_text %}
                                 <p>{{ post[0].message_text }}</p>
                             {% endif %}
                             {% if post[0].attachment_name %}
                                 <div class="row">
                                {% for attachment in post[1] %}
                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                    {% if post[1][attachment]=="MessageMediaType.PHOTO" %}
                                         <img src="{{ url_for('static', filename='tg_data/'+attachment) }}" class="w-100 shadow-1-strong rounded mb-4">
                                    {% elif post[1][attachment]=="MessageMediaType.AUDIO" %}
                                        <audio src="http://127.0.0.1:5000/mp3/{{ attachment }}" class="w-100 shadow-1-strong rounded mb-4" controls>
                                        </audio>
                                    {% elif post[1][attachment]=="MessageMediaType.VIDEO" %}
                                        <video src="http://127.0.0.1:5000/mp4/{{ attachment }}" class="w-100 shadow-1-strong rounded mb-4" controls>
                                        </video>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                                 </div>
                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 1.5rem !important;margin-bottom: 1.5rem !important;"/>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}